/*  Шрифты  */
@font-face {
	font-family: Proxima Nova Regular;
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Semibold;
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Bold;
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Light;
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.otf')  format('opentype'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Thin;
	src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaT-Thin.otf')  format('opentype'),
		url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
		url('../fonts/ProximaNovaT-Thin.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*============================================ 
	Основные стили
============================================*/
html {
	min-width: 300px;
}
body{
	font-family: 'Proxima Nova Regular', sans-serif;
}
ul {
	margin: 0;
}
button {
	background: none;
	border: none;
	outlone: none;
}
button:hover,
button:focus,
button:active {
	outline: none;
	border: none;
}
h1 {
	display: block;
	margin:0;
	border-left: 7px solid #fe5f71;
	min-height: 38px;
	line-height: 38px;
	color: #555555;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 24px;
	padding-left: 13px;
}
h3 {
	font-size: 14px;
	color: #555555;
	text-transform: uppercase;
	font-family: 'Proxima Nova Semibold';
}
h2 {
	font-size: 17px;
	color: #333333;
	margin: 0;
	font-family: 'Proxima Nova Semibold';
}
hr {
	margin: 0;
}

/*============================================ 
	Стили Шапки
============================================*/
.upper_header {
	min-height: 48px;
}
.upper_header .social_links {
	padding-top: 11px;
	min-height: 48px;
	cursor: pointer;
}
.upper_header .social_links a{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	background: url('../images/social.png') no-repeat #eeeeee;
}
.upper_header .social_links a:hover {
	background-color: #ffdfc8;
}
.social_links a.fb {
	background-position: 7px 3px;
}
.social_links a.ok {
	background-position: -26px 3px;
}
.social_links a.twit {
	background-position: -57px 4px;
}
.social_links a.goo {
	background-position: -88px 4px;
}
.drop_menu_block {
	list-style: none;
	min-height: 48px;
	margin-bottom: 0;
}
.drop_menu_block > li {
	float: left;
	position: relative;
	padding: 13px;
	cursor: pointer;
}
.drop_menu_block > li:hover ul.drop {
	display: block;
}
.drop_menu_block > li > a {
	color: #747474;
	font-size: 12px;
}
.drop_menu_block > li > a > i {
	margin-left: 8px;
}
.drop_menu_block .drop {
	display: none;
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	background: #ffffff;
	list-style: none;
	min-width: 150px;
	padding: 0;
	-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
}
.drop_menu_block .drop a {
	display: block;
	color: #747474;
	padding: 5px;
	font-size: 12px;
	text-decoration: none;
	transition: all 0.1s;
}
.drop_menu_block .drop a:hover {
	background: #ffdfc8;
}
.header_phone {
	font-size: 17px;
	float: right;
	padding-top: 15px;
	margin-right: 20px;
}
.header_phone i {
	color: #a4a4a4;
}
.header_phone a {
	text-decoration: none;
	color: #3b3b3b;
}
.header_phone span {
	color: #a4a4a4;
}
.login_panel {
	float: right;
	padding-top: 15px;
}
.login_panel > a {
	color: #747474;
	margin-left: 10px;
	text-decoration: none;
	font-size: 12px;
}
.login_panel > a > i {
	margin-right: 5px;
}
.login_panel span {
	text-decoration: underline;
}




.lower_header {
	background: #ffdfc8;
	min-height: 64px;
}
.logo {
	float: left;
	height: 64px;
	line-height: 64px;
}
.logo img {
	vertical-align: middle;
	display: inline-block;
}
.header_nav {
	padding: 0 10px;
	float: left;
	list-style: none;
}
.header_nav li {
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Proxima Nova Semibold';
	min-height: 64px;
}
.header_nav li > a {
	display: block;
	color: #747474;
	text-decoration: none;
	padding: 27px 15px 20px 15px;
}
.header_nav li > a:hover {
	background: #f5d8c5;
}
.basket_button,
.hamb_button {
	float: right;
	padding-top: 11px;
	padding-bottom: 10px;
}
.hamb_button {
	margin-left: 10px;
}
.basket_button a,
.hamb_button a{
	width: 150px;
	height: 43px;
	line-height: 43px;
	display: block;
	background: #ffaa83;
	border-radius: 4px;
	border: 1px solid #ee8d60;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-family: 'Proxima Nova Bold';
}
.hamb_button a {
	width: 43px;
}
.basket_button a > i {
	margin-right: 9px;
}
.basket_button a:active,
.basket_button a:hover,
.hamb_button a:active,
.hamb_button a:hover {
	background: #ee8d60;
	color: #eeeeee;
}
.search {
	float: right;
	padding: 13px 20px 11px 0px;
}
.search form {
	position: relative;
}
.search form > input {
	min-width: 230px;
	height: 40px;
	border-color: #dddddd;
	padding-right: 55px;
}
.search form > button {
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	width: 47px;
	text-align: center;
	line-height: 40px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #ffaa83;
	border: 1px solid #ee8d60;
	color: #ffffff;
}
.search form > button:hover,
.search form > button:active {
	background: #ee8d60;
}
#mobile_menu {
	overflow: hidden;
	width: 100%;
	list-style: none;
	padding: 0;
	height: 0;
	transition: all 0.5s ease;

}
#mobile_menu > li {
	font-size: 16px;
	font-family: 'Proxima Nova Bold';
}
#mobile_menu > li:first-child {
	border-top: 2px solid #fe5f71;
}
#mobile_menu > li.search {
	float: none;
	padding-right: 0;
}
#mobile_menu a {
	color: #a4a4a4;
	text-decoration: none;
	display: block;
	padding: 5px 10px;
}
#mobile_menu a > span {
	margin-right: 4px;
	color: #fe5f71;
}
#mobile_menu a:hover,
#mobile_menu a:active {
	color: #fe5f71;
}
#mobile_menu.open {
	height: 325px;
}
.fix {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
}

/*============================================ 
	Основной контент
============================================*/
main {
	background: url('../images/dd.png');
	min-height: 700px;
	padding-top: 25px;
	overflow: hidden;
	padding-bottom: 50px;
}
.catalog {
	background: #ffffff;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
}
.catalog .header i {
	color: #fe5f71;
	margin-right: 20px;
}
.catalog .header,
.aside_news .header {
	color: #555555;
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Proxima Nova Bold';
	padding: 0 15px;
	height: 56px;
	line-height: 56px;
}
.catalog_drop {
	border-top: 1px solid #dddddd;
	cursor: pointer;
}
.catalog_drop > a,
.catalog_drop .list > li > a {
	color: #747474;
	display: block;
	height: 30px;
	font-size: 13px;
	padding-left: 38px;
	padding-top: 6px;
	position: relative;
	text-decoration: none;
}
/*
.catalog_drop > span > a {
	color: #747474;
	text-decoration: none;
}*/
.catalog_drop .list {
	padding-left: 0;
	transition: all 0.3s ease;
	list-style: none;
}
.catalog_drop .list > li > a {
	color: #aaaaaa;
	background: #fafafa;
	border-top: 1px solid #dddddd;
}
.catalog_drop .list > li > a:before {
	content: "• ";
}
.catalog_drop > a:before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 15px;
	position: absolute;
	left: 15px;
	top: 7px;
	background: url('../images/icons.png') no-repeat;
}
.catalog_drop .tutorials:before {
	background-position: 0 0;
}
.catalog_drop > a:after {
	content: "‣";
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	transform: rotate(90deg);
	transition: all 0.3s ease;
}
.catalog_drop .mats:before {
	background-position: -18px 0;
}
.catalog_drop a.open:after{
	transform: rotate(0);
}
.aside_news {
	width: 100%;
	background: #ffffff;
	border: 1px solid #dddddd;
}
.aside_news a {
	text-decoration: none;
	display: block;
}
.aside_news .header {
	padding-left: 30px;
}
.aside_news_list {
	list-style: none;
	padding: 0;
}
.aside_news_list > li {
	display: block;
	overflow: hidden;
}
.aside_news_list > li > hr {
	border-top: 1px solid #dddddd;
	max-width: 220px; 
}
.aside_news_list .img_block {
	max-width: 80px;
	float: left;
	padding: 10px;
}
.aside_news_list .info_block {
	float: left;
	max-width: 188px;
	padding: 5px;
	position: relative;
}
.aside_news_list .info_block header {
	font-size: 15px;
	color: #555555;
	text-decoration: underline;
}
.aside_news_list .info_block p {
	font-size: 11px;
	color: #7e7e7e;
}
.aside_news_list .info_block data {
	font-size: 10px;
	color: #a0a0a0;
	position: absolute;
	right: 20px;
	bottom: 5px;
}
.main_block {
	background-color: rgba(255,255,255, 0.8);
	-webkit-box-shadow: 0px 0px 10px 13px rgba(255,255,255, 0.8);
	-moz-box-shadow: 0px 0px 10px 13px rgba(255,255,255, 0.8);
	box-shadow: 0px 0px 10px 13px rgba(255,255,255, 0.8);
}
.bg_container {
	background: rgba(255,255,255, 0.5);
}
.main-carousel {
	position: relative;
	background: #ffffff;
}
.special_offer {
	margin-bottom: 37px;
}
.special_offer a {
	margin-bottom: 14px;
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border: 1px solid red;
	font-family: 'Proxima Nova Bold';
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
}
.special_offer a.actions {
	font-size: 18px;
	background-color: #fe5f71;
	border-color: #ee8d60;
	color: #ffffff;
}
.special_offer a.discount {
	font-size: 14px;
	background-color: #ffffff;
	border-color: #ee8d60;
	color: #626262;
}
/*   item 1    */
.item_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: -0.6% -0.5%;
}
.item-1 {
	width: 24%;
	min-height: 325px;
	margin: 0.6% 0.5%;
	border: 1px solid #dddddd;
	padding: 7px;
	transition: all 0.3s ease;
}
.item-1 .img_block {
	text-align: center;
}
.item-1 .img_block img {
	margin: 0 auto;
	max-height: 125px;
}
.item-1 .item_name {
	display: block;
	color: #555555;
	text-transform: uppercase;
	font-size: 13px;
	margin: 5px 0;
}
.item-1 .stars {
	color: #c2c2c2;
}
.item-1 .stars .full {
	color: #ee8d60;
}
.item-1 .cost {
	color: #333333;
	font-size: 24px;
	padding: 5px 0;
}
.item-1 a.fullink {
	display: block;
	text-decoration: none;
}
.item-1 a.add_basket {
	display: block;
	max-width: 190px;
	height: 42px;
	line-height: 42px;
	text-decoration: none;
	color: #ffffff;
	border-radius: 4px;
	background: #ffaa83;
	border: 1px solid #ee8d60;
	border-top-color: #ffaa83;
	border-left-color: #ffaa83;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0 auto;
}
.item-1 a.add_basket:hover {
	background: #ee8d60;
	color: #eeeeee;
}
.item-1 a.add_basket span,
.item-1 a.add_basket i {
	font-size: 15px;
	margin-right: 3px;
}
.item-1 a.add_basket i {
	margin-right: 5px;
}
.item-1 .by_one_click {
	text-align: center;
	margin: 10px 0 4px 0;
}
.item-1 .by_one_click a{
	font-size: 13px;
	color: #f38a5b;
	border-bottom: 1px solid #fce5dd;
	text-decoration: none;
}
.item-1:hover {
	border-color: #000000;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px 0px;
}

/*  Item 2  */
.item_block_2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item-2 {
	max-width: 420px;
	min-height: 195px;
	margin-bottom: 30px;
	border: 2px solid #fe5f71;
	transition: all 0.3s ease;
	background: #ffffff;
	position: relative;
}
.item-2 .wrap {
	overflow: hidden;
	height: 100%

}
.item-2 .num {
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 59px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #fe5f71;
	text-align: center;
	font-size: 43px;
	color: #333333;
	font-family: 'Proxima Nova Semibold';
	background: #ffffff;
}
.item-2 .img_block {
	width: 40%;
	float: left;
	height: 100%;
}
.item-2 .descr_block {
	width: 60%;
	float: left;
	padding: 10px 15px 10px 30px;
}
.reason_1 .img_block {
	background: url(../images/item-2-1.jpg) no-repeat;
	background-size: cover;
}
.reason_2 .img_block {
	background: url(../images/item-2-2.jpg) no-repeat;
	background-size: cover;
}
.reason_3 .img_block {
	background: url(../images/item-2-3.jpg) no-repeat;
	background-size: cover;
}
.reason_4 .img_block {
	background: url(../images/item-2-4.jpg) no-repeat;
	background-size: cover;
}
.reason_5 .img_block {
	background: url(../images/item-2-5.jpg) no-repeat;
	background-size: cover;
}
.item-2 p {
	font-size: 12px;
	line-height: 16px;
	color: #828282;
	font-family: 'Proxima Nova Light';
	margin: 0;
}
.item-2 h2 {
	margin-bottom: 5px;
}
/* ======*/


.bread_crumbs {
	display: block;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.bread_crumbs li {
	float: left;
	padding-right: 5px;
}
.bread_crumbs li a{
	color: #747474;
	font-size: 12px;
	text-decoration: none;
}
.bread_crumbs li:not(:last-child):after {
	content: '>';
	margin-left: 8px;
}
.bread_crumbs li:last-child a {
	color: #ee8d60;
}
.bread_crumbs + h1 {
	margin-top: 15px;
}


/*============================================ 
	Подвал
============================================*/

footer {
	background: #ffdfc8;
	padding-top: 40px;
	padding-bottom: 80px;
}
footer h3 {
	margin-bottom: 20px;
}
footer .links_ul {
	min-width: 50%;
	float: left;
	padding: 0;
	list-style: none;
}
footer .links_ul li,
footer .links_ul li > a {
	width: 100%;
	display: block;
}
footer .links_ul li > a {
	color: #747474;
	font-size: 11px;
	text-transform: uppercase;
	padding: 10px 0;
	font-family: 'Proxima Nova Semibold';
	text-decoration: none;
}
footer .links_ul li > a:hover {
	color: #fe5f71;
}
footer > .container > .row > div:last-child {
	padding-left: 35px;
}
.copyright {
	display: block;
	font-size: 12px;
	color: #010000;
	margin-bottom: 15px;
}
footer p {
	color: #555555;
	font-size: 11px;
	font-family: 'Proxima Nova Light';
	text-align: justify;
	line-height: 16px;
}
/*============================================ 
	OWL Carousel
============================================*/


#owl-demo .owl-item div{

}
#owl-demo .owl-item img{
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	display: none;
	width: 42px;
	height: 42px;
	border: 1px solid #feeee3;
	border-radius: 50%;
	opacity: 1;
	transform: translateY(50%);
	background: url('../images/arrow_slider.png') no-repeat #ffffff;
}
.owl-theme .owl-controls .owl-buttons div:hover {
	background-color: #feeee3;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
	right: -21px;
	background-position: -44px center;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
	left: -21px;
	background-position: 0px center;
}
.owl-theme .owl-controls .owl-page {
	vertical-align: middle;
}
.owl-theme .owl-controls .owl-page span {
	width: 10px;
	height: 10px;
	margin: 5px;
}
.owl-theme .owl-controls .owl-page.active span {
	width: 20px;
	height: 20px;
	margin: 3px;
	background: #fe5f71;
}



/*============================================ 
	Медиа запросы
============================================*/

@media (max-width: 1200px) {
	.item-1 {
		width: 49%;
		text-align: center;
	}
	.item_block_2 {
		justify-content: center;
	}
}
@media (max-width: 500px) {
	.basket_button a {
		width: 43px;
	}
	.basket_button a span {
		font-size: 0;
	}
	.basket_button a i {
		position: relative;
		left: 4px;
	}
	.item_block {
		justify-content: center;
	}
	.item-1 {
		width: auto;
		max-width: 225px;
		text-align: center;
	}
	.item-2 .img_block {
		width: 100%;
		height: 250px;
	}
	.item-2 .descr_block {
		width: 100%;
		padding: 15px;
	}/*
	.item-2 .wrap,
	.item-2 .wrap > div {
		overflow: hidden;
		height: auto;
	}*/
}
@media (max-width: 340px) {
	.basket_button,
	.hamb_button {
		padding: 14.5px 0;
	}

	.hamb_button a {
		width: 35px;
	}
	.basket_button a,
	.hamb_button a {
		width: 35px;
		height: 35px;
	}
	.basket_button a i,
	.hamb_button a i {
		position: relative;
		bottom: 3px;
	}
}